{% extends "base.html" %}

{% block content %}
        <h1>Добро пожаловать в WikiGame!</h1>
        <p>
            WikiGame - это увлекательная игра, в которой вам предстоит путешествовать по статьям Википедии, начиная с заданной статьи и стремясь найти конечную статью. По пути вам придется использовать свои знания и логические способности для навигации по статьям.
        </p>
        <p>
            Чтобы начать игру, выберите начальную и конечную статьи, и мы создадим для вас уникальный игровой маршрут. Вы будете получать очки за скорость и точность в достижении конечной статьи.
        </p>

        <h2>Как играть:</h2>
        <ul>
            <li>Выберите начальную статью и конечную статью.</li>
            <li>Перейдите по статьям Википедии, чтобы найти путь от начальной статьи к конечной.</li>
            <li>Заработайте очки за кратчайший путь и время, затраченное на игру.</li>
            <li>Просматривайте результаты своих игр и сравнивайте свои достижения с другими игроками.</li>
        </ul>

        <div class="actions">
            <a href="{% url 'game:start' %}" class="btn btn-primary">Начать новую игру</a>
            <a href="{% url 'game:leaderboard' %}" class="btn btn-secondary">Таблица лидеров</a>
        </div>

{% endblock content %}